@import '~@/styles/scss/partials/variables';
@import '~@/styles/scss/partials/abstracts';

$drawer-bg: #33384d;

.sideMenuDrawer {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: $drawer-bg;
  color: $white;
  z-index: 999;
  transition: all 500ms;
}

.sideMenuButton {
  width: 100%;
  padding: 1rem;
  border: 2px solid $white;
  background-color: $drawer-bg;
  color: $white;
  margin-bottom: 1rem;
  transition: all 200ms ease-out;

  &:hover {
    background-color: $white;
    color: $drawer-bg;
    transition: all 200ms ease-in;
  }

  &:focus {
    outline: 0;
  }
}

.closed {
  transform: translate3d(100%, 0, 0);
}

.open {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.hamburgerMenu {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 32px;
  width: 36px;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
    transition: opacity 150ms linear;

    .line {
      background-color: #848794;
      opacity: 0.75;
      transition: all 300ms ease-in;
    }
  }
}

.line {
  height: 6px;
  width: 100%;
  margin-bottom: 6px;
  background-color: #474b5e;
  opacity: 0.5;
  transition: all 300ms ease-out;
}
