@import '~@/styles/scss/partials/variables';
@import '~@/styles/scss/partials/abstracts';

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  width: 50vw;
  padding: 1rem;
}
