@import '~@/styles/scss/partials/variables';
@import '~@/styles/scss/partials/abstracts';

.floatingButton {
  visibility: hidden;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  border: 2px solid $white;
  background-color: $dark;
  color: $white;
  opacity: 0;
  transform: translate3d(0, 10px, 0);
  transition: all 200ms ease-out;

  &:hover {
    background-color: $white;
    color: $dark;
    transition: all 200ms ease-in;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
