@import '~@/styles/scss/partials/variables';
@import '~@/styles/scss/partials/abstracts';

.linkContainer {
  width: 100%;
  position: relative;
  text-align: center;
  text-transform: lowercase;
}

.link {
  justify-self: center;
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: underline;
    color: lighten($black, 20%);
  }
}

.buttonGroup {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.button {
  height: 100%;
  background-color: transparent;
  border: none;
  margin-right: 4px;
}

.buttonIcon {
  opacity: 0.8;
  transition: all 150ms ease-out;

  &:hover {
    cursor: pointer;
    opacity: 1;
    transition: all 150ms ease-in;
  }
}

.editButtonIcon {
  @extend .buttonIcon;

  height: 100%;
}

.deleteButtonIcon {
  @extend .buttonIcon;

  height: 100%;
}

.modalButtonGroup {
  width: 100%;
  display: flex;
}

.modalButton {
  flex-basis: 50%;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid $dark;
  background-color: $white;
  color: $dark;
  transition: all 200ms ease-out;

  &:hover {
    background-color: $dark;
    color: $white;
    transition: all 200ms ease-in;
  }

  &:focus {
    outline: 0;
  }
}

.cancelButton {
  @extend .modalButton;
  margin-right: 4px;
}

.submitButton {
  @extend .modalButton;
  margin-left: 4px;

  &:hover {
    background-color: $success;
    color: $dark;
    transition: all 200ms ease-in;
  }
}
