@import '~@/styles/scss/partials/variables';
@import '~@/styles/scss/partials/abstracts';

.collection {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: underline;
    color: lighten($black, 20%);
  }
}
