@import '~@/styles/scss/partials/variables';
@import '~@/styles/scss/partials/abstracts';

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.label {
  text-align: left;
}

.input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 1rem;
}

.buttonGroup {
  width: 100%;
  display: flex;
}

.button {
  flex-basis: 50%;
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid $dark;
  background-color: $white;
  color: $dark;
  transition: all 200ms ease-out;

  &:hover {
    background-color: $dark;
    color: $white;
    transition: all 200ms ease-in;
  }

  &:focus {
    outline: 0;
  }
}

.registerButton {
  @extend .button;
  margin-right: 4px;
}

.loginButton {
  @extend .button;
  margin-left: 4px;
}
